In [49]:
# Buatlah 5 variabel kalan sendiri dengan 5 macam tipe data
kalimat ='kelas dasar data science'
bilangan1 = 8 
bilangan2 = 3.5
bilangan3 = False
bilangan4 = 8 + 5j

In [50]:
# Tampilkan variabel
print(kalimat)
print(bilangan1)
print(bilangan2)
print(bilangan3)
print(bilangan4)

kelas dasar data science
8
3.5
False
(8+5j)

In [52]:
# Cek tipe data variabel yang telah kalian buat pada latihan 1
print(type(kalimat))
print(type(bilangan1))
print(type(bilangan2))
print(type(bilangan3))
print(type(bilangan4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

In [58]:
# Konversi tipe data variabel yang telah kalian buat menjadi berbagai macam tipe data
# Konversi tipe data integer

print(int(bilangan1))
print(int(bilangan2))
print(int(bilangan3))

8
3
0

In [60]:
# Konversi tipe data float

print(float(bilangan1))
print(float(bilangan2))
print(float(bilangan3))

8.0
3.5
0.0

In [61]:
# Konversi data string

print(str(kalimat))
print(str(bilangan1))
print(str(bilangan2))
print(str(bilangan3))
print(str(bilangan4))

kelas dasar data science
8
3.5
False
(8+5j)

In [62]:
# Konversi data boolean

print(bool(kalimat))
print(bool(bilangan1))
print(bool(bilangan2))
print(bool(bilangan3))
print(bool(bilangan4))

True
True
True
False
True

In [64]:
# Konversi tipe data complex

print(complex(bilangan1))
print(complex(bilangan2))
print(complex(bilangan3))
print(complex(bilangan4))

(8+0j)
(3.5+0j)
0j
(8+5j)