In [1]:
# Membuat 2 List
L1 = [3, 4, 5, 6]
L2 = [1, 3, 5, 7]

In [11]:
# Mengkonversi struktur data list
k_tuple = tuple(L1)
k_set = set(L2)
k_dict = dict(zip(L1,L2))

print(k_tuple)
print(k_set)
print(k_dict)

(3, 4, 5, 6)
{1, 3, 5, 7}
{3: 1, 4: 3, 5: 5, 6: 7}

In [15]:
# Membuat 2 Tuple
T1 = (1, 2, 3, 4)
T2 = (5, 6, 7, 8)

In [23]:
# Mengkonversi struktur data tuple
 k_list = list(T1)
 k_set = set(T2)
 k_dict = dict(zip(T1,T2))
 
 print(k_list)
 print(k_set)
 print(k_dict)

IndentationError: ignored

In [22]:
# Membuat data set
S1 = {1, 2, 3, 4}
S2 = {5, 6, 7, 8}

In [25]:
# Mengkonversi struktur data set
k_list = list(S1)
k_tuple = tuple(S2)
k_dict = dict(zip(S1,S2))

print(k_list)
print(k_tuple)
print(k_dict)

[1, 2, 3, 4]
(8, 5, 6, 7)
{1: 8, 2: 5, 3: 6, 4: 7}

In [27]:
# Membuat dictionary
D = {"nama": "Ani",
  "alamat": "Bandung", 
  "umur": 30
}

In [28]:
# Mengkonversi struktur data dictionary
k_list = list(D.keys())
k_tuple = tuple(D.keys())
k_set = set(D.keys())

print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('nama', 'alamat', 'umur')
{'alamat', 'nama', 'umur'}